In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('/Halliburton AI - ML Challenge/Codes/Datasets/final dummy data.csv')

In [4]:
df

,depth,stemp,clay present,clay type,wa or nwa,clay content,corr bht,alpha,beta,true bht
0,529.13,14.05,1,1,1,10,23.648778,1,1,26.034804
1,529.74,14.05,0,2,0,12,23.646333,2,1,26.033353
2,655.62,14.05,0,1,1,1,23.643444,3,2,26.031458
3,651.97,14.05,0,3,1,3,23.640278,1,3,26.029285
4,576.99,14.05,1,4,1,17,23.636778,2,1,26.026778
5,573.94,14.05,1,1,1,21,23.633056,5,1,26.024050
6,639.78,14.05,0,2,0,23,23.629111,6,1,26.021099
7,670.56,14.05,1,4,0,25,23.625111,9,1,26.018092
8,661.11,14.05,0,4,1,67,23.621056,10,2,26.015031
9,572.41,13.96,1,3,1,54,23.617056,15,2,26.012024
10,540.72,14.05,1,3,1,11,23.613111,2,2,26.009073
11,545.59,14.10,1,2,0,9,23.609333,3,3,26.006289
12,515.11,14.05,1,4,1,7,23.605833,6,5,26.003783
13,963.78,13.96,0,3,0,12,23.602556,8,1,26.001499
14,687.93,13.96,0,1,1,18,23.599611,0,1,25.999548
15,947.93,13.96,1,1,1,25,23.597056,1,1,25.997986
16,938.17,13.96,1,1,1,45,23.594889,1,1,25.996813
17,916.53,13.96,1,4,1,72,23.593167,4,1,25.996084
18,948.23,13.96,1,3,0,23,23.591833,5,1,25.995745
19,1004.01,13.89,1,2,1,87,23.591000,9,1,25.995905

In [5]:
X = df.drop(columns=['true bht'])

In [6]:
y = df['true bht']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [9]:
from sklearn.ensemble import BaggingRegressor
from sklearn.metrics import r2_score,accuracy_score,confusion_matrix,precision_score

reg = BaggingRegressor(n_estimators=100)

In [10]:
reg.fit(X_train,y_train)
y_pred = reg.predict(X_test)
accuracy = r2_score(y_test,y_pred)

print("For ",reg)
print("Accuracy - ",accuracy)

For  BaggingRegressor(n_estimators=100)
Accuracy -  0.9781311888721935

In [11]:
import pickle
pickle.dump(reg, open('final-true-bht.pkl', 'wb'))